.detail_page{
    .detail_title{
        background-color: #fff;
        padding:10px;
        border-radius:15px;
        font-family: $titleFont;
        border-bottom:1px solid rgb(32, 0, 173);
    }
    .personal_details{
        background-color: #fff;
        padding:20px;
        border-radius:10px;
        margin-right:10px;
        .info{
            font-size:15px;
            font-weight:bold;
        }
    }
    .dossier_details{
        background-color:#fff;
        padding:20px;
        border-radius:10px;
        .info{
            font-size:15px;
            font-weight:bold;
        }
    }



}